@font-face {
  font-family: 'Atrament Light';
  src: url("../../assets/fonts/Atrament-3-Light.otf"); }

@font-face {
  font-family: 'Atrament Medium';
  src: url("../../assets/fonts/Atrament-5-Medium.otf"); }

@font-face {
  font-family: 'Atrament Bold';
  src: url("../../assets/fonts/Atrament-7-Bold.otf"); }

@font-face {
  font-family: 'Atrament Heavy';
  src: url("../../assets/fonts/Atrament-8-Heavy.otf"); }

@font-face {
  font-family: 'MuseoSans 500';
  src: url("../../assets/fonts/MuseoSans-500.ttf"); }

@font-face {
  font-family: 'MuseoSans 900';
  src: url("../../assets/fonts/MuseoSans-900.ttf"); }

* {
  margin: 0;
  padding: 0;
  border: 0; }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.img-reverse {
  -moz-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  transform: scale(-1, -1); }

p {
  font-family: "MuseoSans 500", "Arial", sans-serif;
  font-size: 24px;
  color: #424241; }

.selected {
  background: #88BAC2;
  display: inline-block;
  padding: 15px 20px 5px 20px; }

.main-download-wrapper {
  overflow-x: hidden; }

.header, .header-mobile {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: white;
  transition: ease-in-out 0.2s; }
  @media screen and (max-width: 768px) {
    .header, .header-mobile {
      display: none; }
      .header .container, .header-mobile .container {
        width: 100%; } }
  .header nav, .header-mobile nav {
    transition: ease-in-out 0.2s;
    margin-top: 240px; }
    @media screen and (max-width: 1200px) {
      .header nav, .header-mobile nav {
        margin-top: 140px; } }
    @media screen and (max-width: 992px) {
      .header nav, .header-mobile nav {
        margin-top: 110px; } }
    @media screen and (max-width: 768px) {
      .header nav, .header-mobile nav {
        margin-top: 60px; } }
    .header nav ul, .header-mobile nav ul {
      transition: ease-in-out 0.2s; }
  .header .header__logo, .header-mobile .header__logo {
    position: relative; }
    .header .header__logo img, .header-mobile .header__logo img {
      position: absolute;
      bottom: -146px;
      height: 300px;
      width: 300px;
      z-index: 1000;
      transition: ease-in-out 0.2s; }
      @media screen and (max-width: 1200px) {
        .header .header__logo img, .header-mobile .header__logo img {
          width: 200px;
          height: 200px;
          bottom: -109px; } }
      @media screen and (max-width: 992px) {
        .header .header__logo img, .header-mobile .header__logo img {
          width: 150px;
          width: 150px;
          bottom: -114px; } }
      @media screen and (max-width: 768px) {
        .header .header__logo img, .header-mobile .header__logo img {
          width: 100px;
          height: 100px;
          bottom: -28px; } }
  .header .header-menu, .header-mobile .header-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex; }
    @media screen and (max-width: 1400px) {
      .header .header-menu, .header-mobile .header-menu {
        width: 65%; } }
    @media screen and (max-width: 768px) {
      .header .header-menu, .header-mobile .header-menu {
        display: none; } }
    .header .header-menu .header-menu__item, .header-mobile .header-menu .header-menu__item {
      font-family: "MuseoSans 900", "Arial", sans-serif;
      text-transform: uppercase; }
      .header .header-menu .header-menu__item a, .header-mobile .header-menu .header-menu__item a {
        text-decoration: none;
        font-size: 28px;
        color: #424241;
        transition: ease-in-out 0.2s; }
        @media screen and (max-width: 1200px) {
          .header .header-menu .header-menu__item a, .header-mobile .header-menu .header-menu__item a {
            font-size: 22px; } }
        @media screen and (max-width: 992px) {
          .header .header-menu .header-menu__item a, .header-mobile .header-menu .header-menu__item a {
            font-size: 18px; } }
  .header.compressed, .header-mobile.compressed {
    background: rgba(250, 250, 250, 0.85); }
    .header.compressed nav, .header-mobile.compressed nav {
      margin: 20px 0; }
      .header.compressed nav ul, .header-mobile.compressed nav ul {
        margin: 0; }
    .header.compressed .header__logo img, .header-mobile.compressed .header__logo img {
      height: 80px;
      width: 80px;
      top: -11px; }
    .header.compressed .header-menu__item a, .header-mobile.compressed .header-menu__item a {
      font-size: 18px; }

.header-mobile {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .header-mobile {
      display: block; } }
  .header-mobile .header__bm-wrapper {
    display: none;
    width: 100%;
    margin: 0 auto;
    position: relative; }
    @media screen and (max-width: 768px) {
      .header-mobile .header__bm-wrapper {
        display: block; } }
    .header-mobile .header__bm-wrapper .burger-menu {
      width: 140px;
      height: 30px;
      color: #424241;
      text-transform: uppercase;
      z-index: 50; }
    .header-mobile .header__bm-wrapper .burger-click-region {
      position: absolute;
      bottom: 35px;
      right: -20px;
      width: 40px;
      height: 30px;
      cursor: pointer; }
      @media screen and (max-width: 620px) {
        .header-mobile .header__bm-wrapper .burger-click-region {
          right: 0; } }
    .header-mobile .header__bm-wrapper .burger-menu-piece {
      display: block;
      position: relative;
      width: 40px;
      border-top: 1px solid #000;
      transform-origin: 50% 50%;
      margin-top: 10px; }
    .header-mobile .header__bm-wrapper .sidebar {
      background: #d8d8d8;
      width: 300px;
      right: -300px;
      height: 100%;
      position: fixed;
      z-index: 900; }
    .header-mobile .header__bm-wrapper li {
      list-style-type: none;
      margin-bottom: 20px; }
      .header-mobile .header__bm-wrapper li a {
        text-transform: uppercase;
        text-decoration: none;
        font-family: "MuseoSans 900", "Arial", sans-serif;
        font-size: 3.7vw;
        font-size: 22px;
        color: #424241;
        font-weight: bold;
        cursor: pointer;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        min-width: 100%; }
    .header-mobile .header__bm-wrapper .sidemenu {
      margin: 60px 0 0 60px; }
    .header-mobile .header__bm-wrapper .sidetext {
      opacity: 1;
      color: #009EB7; }

.main {
  background: #E6E7E7;
  padding: 552px 0 90px 0;
  transition: ease-in-out 0.2s; }
  .main.compressed {
    padding: 350px 0 90px 0; }
    @media screen and (max-width: 1200px) {
      .main.compressed {
        padding: 400px 0 90px 0; } }
    @media screen and (max-width: 992px) {
      .main.compressed {
        padding: 350px 0 90px 0; } }
    @media screen and (max-width: 768px) {
      .main.compressed {
        padding: 180px 0; } }
  @media screen and (max-width: 1200px) {
    .main {
      padding: 400px 0 90px 0; } }
  @media screen and (max-width: 992px) {
    .main {
      overflow: hidden;
      padding: 350px 0 90px 0; }
      .main .col-md-6 {
        width: 54%; } }
  @media screen and (max-width: 768px) {
    .main {
      padding: 180px 0; } }
  @media screen and (max-width: 992px) {
    .main .main__wrapper-info {
      width: 46%; } }
  @media screen and (max-width: 768px) {
    .main .main__wrapper-info {
      flex: 0 0 100%;
      z-index: 100;
      margin-bottom: 50px; } }
  @media screen and (max-width: 768px) {
    .main .main__wrapper-phone-slider {
      height: 500px;
      flex: 0 0 100%; } }
  .main .main__title {
    font-size: 75px;
    color: #009EB7;
    font-family: "Atrament Bold", "Arial", sans-serif;
    font-weight: 700; }
    @media screen and (max-width: 1200px) {
      .main .main__title {
        font-size: 60px; } }
    @media screen and (max-width: 992px) {
      .main .main__title {
        font-size: 55px; } }
  .main .main__desc {
    font-family: "MuseoSans 500", "Arial", sans-serif;
    font-size: 24px;
    color: #424241; }
    @media screen and (max-width: 1200px) {
      .main .main__desc {
        font-size: 20px;
        line-height: 28px; } }
    @media screen and (max-width: 992px) {
      .main .main__desc {
        font-size: 18px;
        line-height: 26px; } }
  .main .phone-slider {
    position: relative;
    --swiper-navigation-color: $secondary1;
    --swiper-navigation-size: 60px; }
    @media screen and (max-width: 992px) {
      .main .phone-slider {
        --swiper-navigation-size: 100px; } }
    .main .phone-slider .phone-slider__wrapper {
      position: relative;
      z-index: 20; }
      .main .phone-slider .phone-slider__wrapper .phone-slider__swiper {
        position: absolute;
        top: -150px;
        right: -120px;
        width: 100%;
        z-index: 200; }
        @media screen and (max-width: 1400px) {
          .main .phone-slider .phone-slider__wrapper .phone-slider__swiper {
            right: -70px; } }
        @media screen and (max-width: 1200px) {
          .main .phone-slider .phone-slider__wrapper .phone-slider__swiper {
            right: -25px; } }
        @media screen and (max-width: 992px) {
          .main .phone-slider .phone-slider__wrapper .phone-slider__swiper {
            right: -35px; } }
        @media screen and (max-width: 768px) {
          .main .phone-slider .phone-slider__wrapper .phone-slider__swiper {
            top: 0;
            right: 0; } }
        .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center; }
          .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide img {
            display: block;
            width: 425px;
            height: 100%;
            object-fit: cover; }
            @media screen and (max-width: 1540px) {
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide img {
                width: 350px; } }
            @media screen and (max-width: 1200px) {
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide img {
                width: 290px; } }
            @media screen and (max-width: 992px) {
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide img {
                width: 250px; } }
            @media screen and (max-width: 467px) {
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-slide img {
                width: 200px; } }
        .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
          cursor: pointer;
          position: absolute;
          top: 325px;
          z-index: 200; }
          @media screen and (max-width: 1540px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              top: 275px; }
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique svg, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique svg {
                height: 140px; } }
          @media screen and (max-width: 1200px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              top: 220px; } }
          @media screen and (max-width: 1200px) and (min-width: 992px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique svg path, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique svg path {
              stroke: #424241; } }
          @media screen and (max-width: 992px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              top: 175px; }
              .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique svg, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique svg {
                height: 120px; } }
          @media screen and (max-width: 768px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique svg path, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique svg path {
              stroke: #424241; } }
          @media screen and (max-width: 467px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique, .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              top: 120px; } }
        .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
          left: 10px; }
          @media screen and (max-width: 1540px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: 40px; } }
          @media screen and (max-width: 1400px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: 20px; } }
          @media screen and (max-width: 1200px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: -15px; } }
          @media screen and (max-width: 992px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: -25px; } }
          @media screen and (max-width: 768px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: 25px; } }
          @media screen and (max-width: 467px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-prev-unique {
              left: -10px; } }
        .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
          right: 10px;
          transform: rotate(180deg); }
          @media screen and (max-width: 1540px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: 40px; } }
          @media screen and (max-width: 1400px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: 20px; } }
          @media screen and (max-width: 1200px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: -15px; } }
          @media screen and (max-width: 992px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: -25px; } }
          @media screen and (max-width: 768px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: 25px; } }
          @media screen and (max-width: 467px) {
            .main .phone-slider .phone-slider__wrapper .phone-slider__swiper .swiper-button-next-unique {
              right: -10px; } }
  .main .main__circle1 {
    position: absolute;
    overflow: hidden;
    left: 50px;
    top: -75px;
    height: 950px;
    width: 950px;
    background: #009EB7;
    border-radius: 100%;
    z-index: 10; }
    @media screen and (max-width: 1400px) {
      .main .main__circle1 {
        left: 0px; } }
    @media screen and (max-width: 1200px) {
      .main .main__circle1 {
        display: none;
        left: -70px; } }
    @media screen and (max-width: 992px) {
      .main .main__circle1 {
        display: block;
        top: -60px; } }
    @media screen and (max-width: 768px) {
      .main .main__circle1 {
        left: 200px;
        top: 300px; } }
  .main .main__circle2 {
    position: absolute;
    overflow: hidden;
    left: 0px;
    top: -100px;
    height: 307px;
    width: 307px;
    background: #C6C6C6;
    border-radius: 100%;
    z-index: 9; }
    @media screen and (max-width: 768px) {
      .main .main__circle2 {
        top: 120px;
        left: -50px; } }
  .main .main__circle3 {
    position: absolute;
    overflow: hidden;
    right: -250px;
    top: -80px;
    height: 142px;
    width: 142px;
    background: #8ACAD3;
    border-radius: 100%;
    z-index: 8; }
    @media screen and (max-width: 1200px) {
      .main .main__circle3 {
        left: 350px;
        top: -110px; } }
    @media screen and (max-width: 768px) {
      .main .main__circle3 {
        top: 20px;
        left: 400px; } }

.download {
  padding: 90px 0; }
  @media screen and (max-width: 1200px) {
    .download .col {
      width: 100%; } }
  .download .download__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 35px; }
    @media screen and (max-width: 467px) {
      .download .download__title {
        font-size: 55px; } }
    .download .download__title span {
      display: table; }
      @media screen and (max-width: 1200px) {
        .download .download__title span {
          display: inline; } }
  .download .download__links a {
    text-decoration: none;
    margin-right: 20px; }
    .download .download__links a img {
      width: 200px; }
  @media screen and (max-width: 485px) {
    .download .download__links {
      display: flex; }
      .download .download__links a {
        width: 100%; }
        .download .download__links a img {
          width: 100%; } }

.video {
  line-height: 0;
  display: block;
  padding: 90px 0 0 0; }
  .video .video__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px; }
    @media screen and (max-width: 1200px) {
      .video .video__title {
        font-size: 60px; } }
  .video .video__src {
    display: block !important;
    width: 100%; }

.functions {
  background: #E6E7E7;
  padding: 90px 0;
  position: relative; }
  .functions .functions__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 35px; }
    @media screen and (max-width: 992px) {
      .functions .functions__title {
        font-size: 60px; } }
  .functions .functions__desc {
    text-align: center;
    width: 85%;
    margin-bottom: 120px; }
    @media screen and (max-width: 992px) {
      .functions .functions__desc {
        font-size: 22px;
        width: 100%; } }
    @media screen and (max-width: 467px) {
      .functions .functions__desc {
        font-size: 18px; } }
  .functions .swiper {
    --swiper-navigation-color: $secondary1;
    --swiper-navigation-size: 60px; }
  .functions .functions-slider__swiper {
    width: 90%; }
    .functions .functions-slider__swiper .swiper-slide .item {
      padding: 0 50px; }
      .functions .functions-slider__swiper .swiper-slide .item .item__title {
        font-size: 50px;
        color: #009EB7;
        font-family: "Atrament Bold", "Arial", sans-serif;
        font-weight: 700;
        margin-bottom: 20px; }
        @media screen and (max-width: 467px) {
          .functions .functions-slider__swiper .swiper-slide .item .item__title {
            font-size: 40px; } }
      .functions .functions-slider__swiper .swiper-slide .item .item__desc {
        font-size: 22px; }
      .functions .functions-slider__swiper .swiper-slide .item .item__thumb {
        height: 120px;
        margin-bottom: 50px; }
      .functions .functions-slider__swiper .swiper-slide .item h3, .functions .functions-slider__swiper .swiper-slide .item p {
        text-align: center; }
  .functions .swiper-button-prev-unique, .functions .swiper-button-next-unique {
    cursor: pointer;
    position: absolute;
    top: 550px;
    z-index: 200; }
    @media screen and (max-width: 467px) {
      .functions .swiper-button-prev-unique, .functions .swiper-button-next-unique {
        top: 575px; } }
    @media screen and (max-width: 467px) {
      .functions .swiper-button-prev-unique img, .functions .swiper-button-next-unique img {
        height: 100px; } }
  .functions .swiper-button-prev-unique {
    left: 30px; }
    @media screen and (max-width: 540px) {
      .functions .swiper-button-prev-unique {
        left: 10px; } }
  .functions .swiper-button-next-unique {
    right: 30px;
    transform: rotate(180deg); }
    @media screen and (max-width: 540px) {
      .functions .swiper-button-next-unique {
        right: 10px; } }

.activation {
  padding: 90px 0 0 0; }
  .activation .activation__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px; }
    @media screen and (max-width: 992px) {
      .activation .activation__title {
        font-size: 60px; } }
  .activation .activation__container {
    margin-top: 20px;
    padding: 75px 0 0 0;
    background: #88BAC2;
    overflow-x: hidden; }
    .activation .activation__container .steps {
      width: 90%;
      margin: 0 auto;
      display: flex; }
      @media screen and (max-width: 992px) {
        .activation .activation__container .steps {
          display: none; } }
      .activation .activation__container .steps .step__number {
        padding: 0 30px;
        font-size: 130px;
        line-height: 110px;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: bold;
        color: white; }
        @media screen and (max-width: 1200px) {
          .activation .activation__container .steps .step__number {
            font-size: 110px; } }
      @media screen and (max-width: 1200px) {
        .activation .activation__container .steps .step__arrow img {
          width: 350px; } }
    .activation .activation__container .activation__items {
      margin-top: 60px;
      padding-bottom: 90px; }
      .activation .activation__container .activation__items .col {
        padding: 0 40px; }
        @media screen and (max-width: 992px) {
          .activation .activation__container .activation__items .col {
            width: 100%; }
            .activation .activation__container .activation__items .col:not(:first-child) {
              margin-top: 60px; } }
      .activation .activation__container .activation__items .icon-wrapper {
        margin-bottom: 30px; }
      .activation .activation__container .activation__items .item__title {
        text-align: center;
        color: #424241;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: 500;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 20px; }
        @media screen and (max-width: 576px) {
          .activation .activation__container .activation__items .item__title {
            font-size: 55px; } }
      .activation .activation__container .activation__items .item__desc {
        text-align: center;
        font-size: 22px; }
        @media screen and (max-width: 576px) {
          .activation .activation__container .activation__items .item__desc {
            font-size: 20px; } }
    .activation .activation__container .item__step-number {
      margin-bottom: 40px;
      display: none; }
      @media screen and (max-width: 992px) {
        .activation .activation__container .item__step-number {
          display: flex; } }
      .activation .activation__container .item__step-number .step__arrow img {
        width: 480px; }
      .activation .activation__container .item__step-number .step__number {
        padding: 0 50px;
        font-size: 130px;
        line-height: 110px;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: bold;
        color: white; }
        @media screen and (max-width: 576px) {
          .activation .activation__container .item__step-number .step__number {
            font-size: 110px; } }

.faq {
  padding: 90px 0; }
  .faq .faq__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 60px; }
    @media screen and (max-width: 992px) {
      .faq .faq__title {
        font-size: 60px; } }
  .faq .faq-question__wrapper {
    margin: 30px 0;
    transition: ease-in-out 0.2s; }
    .faq .faq-question__wrapper.active {
      background: #E6E7E7; }
      .faq .faq-question__wrapper.active .container {
        border-bottom: 4px solid #424241; }
      .faq .faq-question__wrapper.active .question__toggle svg {
        transform: rotateX(180deg); }
        .faq .faq-question__wrapper.active .question__toggle svg path {
          stroke: #424241; }
      @media screen and (max-width: 576px) {
        .faq .faq-question__wrapper.active .question__toggle {
          width: 50px; } }
      .faq .faq-question__wrapper.active .question__text {
        background: #88BAC2;
        display: inline-block;
        padding: 20px 0 0 0; }
      .faq .faq-question__wrapper.active .faq__question {
        padding: 0 0 20px 0; }
      .faq .faq-question__wrapper.active .faq__answer {
        max-height: 500px; }
    .faq .faq-question__wrapper .container {
      border-bottom: 4px solid #E6E7E7;
      transition: ease-in-out 0.2s; }
    .faq .faq-question__wrapper .faq__question {
      cursor: pointer;
      padding: 0 0 20px 0;
      transition: ease-in-out 0.2s; }
      .faq .faq-question__wrapper .faq__question .question__text {
        color: #424241;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: 500;
        font-size: 70px;
        padding: 20px;
        transition: ease-in-out 0.2s; }
        @media screen and (max-width: 992px) {
          .faq .faq-question__wrapper .faq__question .question__text {
            font-size: 60px; } }
        @media screen and (max-width: 576px) {
          .faq .faq-question__wrapper .faq__question .question__text {
            font-size: 40px; } }
    .faq .faq-question__wrapper .question__toggle {
      display: flex;
      justify-content: center;
      align-items: center; }
      .faq .faq-question__wrapper .question__toggle svg {
        width: 90px;
        color: #009EB7;
        transition: ease-in-out 0.2s; }
      @media screen and (max-width: 576px) {
        .faq .faq-question__wrapper .question__toggle {
          width: 50px; } }
    .faq .faq-question__wrapper .faq__answer {
      max-height: 0;
      overflow: hidden;
      transition: ease-in-out 0.2s; }
      @media screen and (max-width: 992px) {
        .faq .faq-question__wrapper .faq__answer {
          font-size: 20px; } }

.footer {
  padding: 40px 0;
  background: #88BAC2;
  overflow-x: hidden; }
  @media screen and (max-width: 576px) {
    .footer {
      padding: 40px 20px; } }
  @media screen and (max-width: 1200px) {
    .footer .col {
      width: 100%; } }
  @media screen and (max-width: 576px) {
    .footer .footer__logo-wrapper {
      flex-wrap: wrap;
      justify-content: start; } }
  .footer .footer__logo {
    margin-right: 40px; }
    @media screen and (max-width: 576px) {
      .footer .footer__logo {
        margin-bottom: 20px; } }
    .footer .footer__logo img {
      height: 200px; }
    @media screen and (max-width: 768px) {
      .footer .footer__logo img {
        height: 130px; } }
    @media screen and (max-width: 576px) {
      .footer .footer__logo img {
        height: 100px; } }
  .footer .tagline .tagline__title {
    font-family: "MuseoSans 900", "Arial", sans-serif;
    color: white;
    line-height: 25px; }
  .footer .tagline .tagline__desc {
    font-family: "MuseoSans 500", "Arial", sans-serif;
    color: white;
    line-height: 30px; }
  @media screen and (max-width: 576px) {
    .footer .tagline {
      text-align: left; }
      .footer .tagline .tagline__desc {
        font-size: 20px; } }
  .footer .ask .ask__title {
    text-align: right;
    color: #424241;
    font-family: "MuseoSans 900", "Arial", sans-serif;
    line-height: 25px; }
  .footer .ask .ask__desc {
    text-align: right;
    line-height: 30px; }
  @media screen and (max-width: 1200px) {
    .footer .ask .ask__title {
      text-align: left; }
    .footer .ask .ask__desc {
      text-align: left; } }
  @media screen and (max-width: 576px) {
    .footer .ask .ask__desc {
      font-size: 20px; } }
  .footer .footer__links {
    margin-bottom: 16px;
    justify-content: end; }
    .footer .footer__links a {
      text-decoration: none;
      color: #424241;
      font-family: "MuseoSans 900", "Arial", sans-serif;
      text-transform: uppercase;
      font-size: 25px; }
      .footer .footer__links a:not(:first-child) {
        margin-left: 50px; }
    @media screen and (max-width: 1200px) {
      .footer .footer__links {
        justify-content: start; } }
    @media screen and (max-width: 768px) {
      .footer .footer__links a {
        font-size: 22px; }
        .footer .footer__links a:not(:first-child) {
          margin-left: 30px; } }
    @media screen and (max-width: 576px) {
      .footer .footer__links a {
        font-size: 20px; }
        .footer .footer__links a:not(:first-child) {
          margin-left: 28px; } }
  @media screen and (max-width: 1200px) {
    .footer .footer__logo-wrapper {
      margin-bottom: 60px; } }

.navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 15px;
  z-index: 10; }
  .navigation.vertical {
    flex-direction: column;
    align-items: center; }
  .navigation .navigation__item {
    border: 4px solid #424241;
    height: 20px;
    width: 20px;
    background: none;
    border-radius: 100%;
    margin: 4px;
    transition: ease-in-out 0.2s; }
    .navigation .navigation__item.active {
      background: #424241; }
  @media screen and (max-width: 768px) {
    .navigation {
      display: none; } }
