@font-face {
  font-family: 'Atrament Light';
  src: url("../../assets/fonts/Atrament-3-Light.otf"); }

@font-face {
  font-family: 'Atrament Medium';
  src: url("../../assets/fonts/Atrament-3-Light.otf"); }

@font-face {
  font-family: 'Atrament Bold';
  src: url("../../assets/fonts/Atrament-3-Light.otf"); }

@font-face {
  font-family: 'Atrament Heavy';
  src: url("../../assets/fonts/Atrament-3-Light.otf"); }

@font-face {
  font-family: 'MuseoSans 500';
  src: url("../../assets/fonts/MuseoSans-500.ttf"); }

@font-face {
  font-family: 'MuseoSans 900';
  src: url("../../assets/fonts/MuseoSans-900.ttf"); }

* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  overflow-x: hidden; }

p {
  font-family: "MuseoSans 500", "Arial", sans-serif;
  font-size: 24px;
  color: #424241; }

.selected {
  background: #88BAC2;
  display: inline-block;
  padding: 15px 20px 5px 20px; }

.header {
  margin-top: 240px;
  position: relative; }
  .header .header__logo {
    position: relative; }
    .header .header__logo img {
      position: absolute;
      bottom: -146px;
      height: 300px;
      width: 300px; }
  .header .header-menu {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0; }
    .header .header-menu .header-menu__item {
      font-family: "MuseoSans 900", "Arial", sans-serif;
      text-transform: uppercase; }
      .header .header-menu .header-menu__item a {
        text-decoration: none;
        font-size: 28px;
        color: #424241; }

.main {
  background: #E6E7E7;
  padding: 200px 0 90px 0;
  overflow-x: hidden; }
  .main .main__title {
    font-size: 75px;
    color: #009EB7;
    font-family: "Atrament Bold", "Arial", sans-serif;
    font-weight: 700; }
  .main .main__desc {
    font-family: "MuseoSans 500", "Arial", sans-serif;
    font-size: 24px;
    color: #424241; }
  .main .phone-slider {
    position: relative; }
    .main .phone-slider .main__circle1 {
      position: absolute;
      overflow: hidden;
      left: 100px;
      top: -75px;
      height: 950px;
      width: 950px;
      background: #009EB7;
      border-radius: 100%;
      z-index: 10; }
    .main .phone-slider .main__circle2 {
      position: absolute;
      overflow: hidden;
      left: 0px;
      top: -100px;
      height: 307px;
      width: 307px;
      background: #C6C6C6;
      border-radius: 100%;
      z-index: 9; }
    .main .phone-slider .main__circle3 {
      position: absolute;
      overflow: hidden;
      right: -250px;
      top: -80px;
      height: 142px;
      width: 142px;
      background: #8ACAD3;
      border-radius: 100%;
      z-index: 8; }
    .main .phone-slider .phone-slider__swiper {
      z-index: 100; }
    .main .phone-slider .swiper {
      --swiper-navigation-color: $secondary1;
      --swiper-navigation-size: 60px; }
    .main .phone-slider .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center; }
      .main .phone-slider .swiper-slide img {
        display: block;
        width: 456px;
        height: 100%;
        object-fit: cover; }

.download {
  padding: 90px 0; }
  .download .download__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 35px; }
  .download .download__links a {
    text-decoration: none;
    margin-right: 20px; }
    .download .download__links a img {
      width: 200px; }

.video .video__title {
  color: #424241;
  font-family: "Atrament Medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 80px; }

.video .video__src {
  width: 100%; }

.functions {
  background: #E6E7E7;
  padding: 90px 0; }
  .functions .functions__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 35px; }
  .functions .functions__desc {
    text-align: center;
    width: 85%;
    margin-bottom: 120px; }
  .functions .swiper {
    --swiper-navigation-color: $secondary1;
    --swiper-navigation-size: 60px; }
  .functions .functions-slider__swiper {
    width: 90%; }
    .functions .functions-slider__swiper .swiper-slide .item {
      padding: 0 50px; }
      .functions .functions-slider__swiper .swiper-slide .item .item__title {
        font-size: 50px;
        color: #009EB7;
        font-family: "Atrament Bold", "Arial", sans-serif;
        font-weight: 700;
        margin-bottom: 20px; }
      .functions .functions-slider__swiper .swiper-slide .item .item__desc {
        font-size: 22px; }
      .functions .functions-slider__swiper .swiper-slide .item .item__thumb {
        height: 120px;
        margin-bottom: 50px; }
      .functions .functions-slider__swiper .swiper-slide .item h3, .functions .functions-slider__swiper .swiper-slide .item p {
        text-align: center; }

.activation {
  padding: 90px 0 0 0; }
  .activation .activation__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px; }
  .activation .activation__container {
    margin-top: 20px;
    padding: 75px 0 0 0;
    background: #88BAC2; }
    .activation .activation__container .steps {
      width: 90%;
      margin: 0 auto; }
      .activation .activation__container .steps .step__number {
        padding: 0 30px;
        font-size: 130px;
        line-height: 110px;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: bold;
        color: white; }
    .activation .activation__container .activation__items {
      margin-top: 60px;
      padding-bottom: 90px; }
      .activation .activation__container .activation__items .col {
        padding: 0 40px; }
      .activation .activation__container .activation__items .icon-wrapper {
        margin-bottom: 30px; }
      .activation .activation__container .activation__items .item__title {
        text-align: center;
        color: #424241;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: 500;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 20px; }
      .activation .activation__container .activation__items .item__desc {
        text-align: center;
        font-size: 22px; }

.faq {
  padding: 90px 0; }
  .faq .faq__title {
    color: #424241;
    font-family: "Atrament Medium", "Arial", sans-serif;
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 60px; }
  .faq .faq-question__wrapper {
    margin: 30px 0; }
    .faq .faq-question__wrapper.active {
      background: #E6E7E7; }
      .faq .faq-question__wrapper.active .container {
        border-bottom: 4px solid #424241; }
      .faq .faq-question__wrapper.active .question__toggle img {
        transform: rotateX(0deg); }
      .faq .faq-question__wrapper.active .question__text {
        background: #88BAC2;
        display: inline-block;
        padding: 15px 20px 5px 20px; }
      .faq .faq-question__wrapper.active .faq__question {
        padding: 0 0 20px 0; }
      .faq .faq-question__wrapper.active .faq__answer {
        display: block; }
    .faq .faq-question__wrapper .container {
      border-bottom: 4px solid #E6E7E7; }
    .faq .faq-question__wrapper .faq__question {
      cursor: pointer;
      padding: 20px 0; }
      .faq .faq-question__wrapper .faq__question .question__text {
        color: #424241;
        font-family: "Atrament Medium", "Arial", sans-serif;
        font-weight: 500;
        font-size: 70px; }
    .faq .faq-question__wrapper .question__toggle {
      display: flex;
      justify-content: center;
      align-items: center; }
      .faq .faq-question__wrapper .question__toggle img {
        width: 90px;
        transform: rotateX(180deg); }
    .faq .faq-question__wrapper .faq__answer {
      display: none; }

.footer {
  padding: 40px 0;
  background: #88BAC2; }
  .footer .footer__logo {
    margin-right: 40px; }
    .footer .footer__logo img {
      height: 200px; }
  .footer .tagline .tagline__title {
    font-family: "MuseoSans 900", "Arial", sans-serif;
    color: white;
    line-height: 25px; }
  .footer .tagline .tagline__desc {
    font-family: "MuseoSans 500", "Arial", sans-serif;
    color: white;
    line-height: 30px; }
  .footer .ask .ask__title {
    text-align: right;
    color: #424241;
    font-family: "MuseoSans 900", "Arial", sans-serif;
    line-height: 25px; }
  .footer .ask .ask__desc {
    text-align: right;
    line-height: 30px; }
  .footer .footer__links {
    margin-bottom: 16px; }
    .footer .footer__links a {
      text-decoration: none;
      color: #424241;
      font-family: "MuseoSans 900", "Arial", sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      margin-left: 50px; }
